.btn-add {
    text-decoration: none;
    color: $link_color;
    font-size: rem(12);
    font-weight: 700;
    &:hover {
        text-decoration: none;
    }
}
.btn-menu {
    @include lg(display, none);
    margin: 0 0 0 auto;
}
