.files-box {
    overflow: hidden;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        text-transform: uppercase;
        font-size: rem(11);
        padding: .6rem .5rem;
        color: #6e6e6e;
        border-bottom: 1px solid #eff2f5;
        & + .add-files {
            border-top: none;
        }
    }
    .add-files {
        display: block;
        padding: .4rem 0;
        border-top: 1px solid #eff2f5;
        text-align: center;
        background-color: #ffeded;
        .add-files-btn {
            font-size: rem(11);
            padding: 5px 12px;
        }
        form {
            display: inline-block;
        }
    }
}
.files-list {
    padding: .4rem 1rem;
    list-style: none;
    li {
        line-height: 16px;
        padding: .6rem 0;
        font-size: rem(12);
        font-weight: 500;
        & + li {
            border-top: 1px solid #eff2f5;
        }
        &:last-child {
            padding: .5rem 0 0 0;
        }
        a {
            color: #6e6e6e;
        }
    }
}
.task-description, .aside-box {
    padding: 1rem;
    p, ul, ol {
        margin: 0 0 8px 0;
    }
    .task-name {
        font-weight: 500;
        font-size: rem(16);
        margin: 0 0 1rem 0;
        padding: 0 0 1rem 0;
        border-bottom: 1px solid #eff2f5;
    }
    .status {
        margin: 1rem 0 0 0;
        text-align: center;
    }
    .with-icon {
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.box-white {
    border: 1px solid #d8dbe0;
    background-color: #fff;
}
.btn-complete {
    justify-content: center;
    margin: 1rem 0 .5rem 0;
    padding: 8px 16px;
    text-align: center;
}
