.form_add-task {
    margin: 1rem 0 0 0;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    .form-header {
        border-bottom: 1px solid #dfe0e4;
    }
    .title {
        text-align: left;
    }
    .btn-add {
        width: auto;
        margin: 1rem 0 0 0;
        padding: .6rem 1.2rem;
        font-size: rem(11);
        &:hover {
            cursor: pointer;
        }
    }
}
.groups-list {
    display: flex;
    align-items: center;
    background-color: #f3f7fa;
    margin: .5rem 0 0 0;
    border: 1px solid #e1e2e4;
    padding: 14px 10px;
    border-radius: 5px;
    font-size: rem(14);
    &-item {
        padding: .5rem;
    }
}
.simple-editor {
    display: none;
}
