.form_add-task {
    margin: 2rem 0 0 0;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    .form-header {
        border-bottom: 1px solid #dfe0e4;
    }
    .title {
        text-align: left;
    }
    .btn_add-task {
        display: inline-block;
        width: auto;
        margin: 1rem 0 0 0;
        padding: .8rem 1.2rem;
        svg {
            background: none;
            border: none;
            padding: 0;
        }
    }
}
