@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

body {
    background-color: $main_color;
    font-family: "Roboto", sans-serif;
    font-size: rem(14);
}

main {
    padding: 1rem 0;
}

.items {
    @include row-flex();
    @include md(justify-content, center);

    .item {
        @include col();
        @include size(3);
        @include size-md(5);
        @include size-xs(10);
    }
}
.align-right {
    text-align: right;
}
.responsive-table {
    overflow-x: auto;
    margin: 1rem 0 0 0;
}
.with-shadow {
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .1);
}
.rounded-block {
    border-radius: 6px;
}
.text-right {
    text-align: right;
}
.develop-logo {
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid
        #d8dbe0;
    a {
        display: block;
    }
    img {
        max-width: 50px;
    }
}
.menu_with-btn {
    display: flex;
    align-items: center;
    padding: 0 0 .5rem 0;
    border-bottom: 1px solid #d8dbe0;
}
.with-icon {
    svg {
        width: $svg_wh;
        height: $svg_wh;
        margin-right: 6px;
    }
}
.flex {
    display: flex;
    align-items: center;
}
.task_tech-info-item {
    display: flex;
    align-items: center;
    padding: .6rem 0;
    & + .task_tech-info-item {
        border-top: 1px solid hsl(210, 23%, 95%);
    }
    &-value {
        background-color: #ffeded;
        margin: 0 0 0 auto;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: rem(12);
        font-weight: 500;
    }
    &-label {
        font-weight: 500;
        color: #6e6e6e;
        text-transform: uppercase;
        font-size: rem(11);
    }
}
