.images-files {
    margin: 1rem 0 0 0;
    .title {
        display: flex;
        align-items: center;
        color: #6e6e6e;
        border-bottom: 1px solid #eff2f5;
        font-weight: 500;
        text-transform: uppercase;
        font-size: rem(11);
        padding: .6rem 1rem;
    }
    &-item {
        position: relative;
        border: 1px solid #eff2f5;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 4px;
        text-align: center;
        &-name {
            position: absolute;
            top: 4px;
            right: 4px;
            border: 1px solid #eff2f5;
            border-bottom-left-radius: 5px;
            padding: 4px 10px;
            background-color: #fcf8df;
            font-size: rem(11);
        }
        &_buttons {
            margin: .5rem 0 0 0;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            svg {
                border: 1px solid #d1ddeb;
                border-radius: 5px;
                padding: 3px;
                transition: all 300ms ease;
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                    background-color: #ffeded;
                }
            }
        }
        img {
            object-fit: cover;
            line-height: 0;
        }
    }
}
