.pagination {
    background-color: #f1f5f8;
    padding: 1rem;
    text-align: right;
    border-top: 1px solid #e8ecef;
    .pagination-box {
        display: inline-block;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            text-align: center;
            a, span {
                color: #6f7279;
                display: inline-block;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #fff;
                border: 1px solid #d7dbe4;
                transition: all 300ms ease;
                font-size: rem(12);
                font-weight: 700;
            }
            & + li {
                margin-left: .2rem;
            }
            &.active, &:hover {
                a, span {
                    background-color: #f0f1f5;
                    text-decoration: none;
                }
            }
        }
    }
}
